@tailwind base;

/* Old Styles */
@font-face {
  font-display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../icons/icomoon/icomoon.ttf?i68tou") format("truetype"),
    url("../icons/icomoon/icomoon.woff?i68tou") format("woff"),
    url("../icons/icomoon/icomoon.svg?i68tou#icomoon") format("svg");
}

h1,
h2,
h3,
h4 {
  @apply leading-tight;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

input {
  @apply text-black;
}

a {
  @apply text-gray-600;
  @apply transition-all;
  @apply duration-150;
}

a:hover {
  @apply text-gray-700;
}

@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
[class^="icon-"],
[class*=" icon-"] {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "icomoon" !important;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}

/* purgecss end ignore */

.icon-arrow-up::before {
  content: "\ea32";
}

.icon-arrow-right::before {
  content: "\ea34";
}

.icon-arrow-down::before {
  content: "\ea36";
}

.icon-arrow-left::before {
  content: "\ea38";
}

.icon-circle-up::before {
  content: "\ea41";
}

.icon-circle-right::before {
  content: "\ea42";
}

.icon-circle-down::before {
  content: "\ea43";
}

.icon-circle-left::before {
  content: "\ea44";
}

.icon-home::before {
  content: "\e900";
}

.icon-home3::before {
  content: "\e902";
}

.icon-phone::before {
  content: "\e942";
}

.icon-envelop::before {
  content: "\e945";
}

.icon-mobile::before {
  content: "\e958";
}

.icon-mail::before {
  content: "\ea83";
}

.icon-linkedin::before {
  content: "\eac9";
}

.icon-linkedin2::before {
  content: "\eaca";
}

.icon-xing::before {
  content: "\ead3";
}

.icon-xing2::before {
  content: "\ead4";
}

body {
  line-height: 1.625;
  text-rendering: optimizeLegibility;
}

.transition {
  transition: all 150ms ease;
}

.layout {
  position: relative;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 0.5em 0 0.25em;
}

.markdown h1 {
  font-size: 3rem;
}

.markdown h2 {
  font-size: 2.5rem;
}

.markdown h3 {
  font-size: 2rem;
}

.markdown h4 {
  font-size: 1.5rem;
}

.markdown h5 {
  font-size: 1.25rem;
}

.markdown h6 {
  font-size: 1.125rem;
}

.markdown p {
  margin: 0 0 16px;
}

.footer {
  background-color: black;
  bottom: 0;
  color: white;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

.footer .container {
  margin: 0 auto;
}

.footer a {
  color: grey;
  transition: color 150ms ease;
}

.center-transform-y {
  top: 50%;
  transform: translateY(-50%);
}

.center-transform-x {
  left: 50%;
  transform: translateX(-50%);
}

.center-transform {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}

.spinner::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid white;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  left: calc(50% - (1em / 2));
  position: absolute !important;
  top: calc(50% - (1em / 2));
  width: 1em;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
